/*cahnge all text font styles*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#question{
    font-weight: bolder;
    font-size: 300% ;
}

/*to center the game*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
    width: 100vh;
    background-color: rgba(78, 10, 141, 0.507);
}

#game-container{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px;
}

/*grid styling for buttons*/
#answer-container{
    display: grid;
    gap: 10px;
    margin: 10px;
}
#option1{
    grid-column-start: 0;
}
#option2{
    grid-column-start: 2;
}
#option3{
    grid-column-end: 0;
}
#option4{
    grid-column-end: 0;
}
button{
    height: 30px;
}

#start{
    margin: 0, 0, 10px, 0;
}