/*cahnge all text font styles except for h1*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

/*styles the question*/
#question{
    font-weight: bolder;
    font-size: 300% ;
    margin: 20px 20px
}

/*to center the game*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150vh;
    max-width: 150vw;
    flex-direction: column;
}

/*changing the color of the background of game*/
.normal {
    background-image: linear-gradient(#0A1A3D, #39345F, #674F81, #986DA2, #CC8BC2, #FFACDF);
    background-attachment: fixed;
}
.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
} 

#game-container{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px;
    align-items: center;
    justify-content: center;
}

/*grid styling for buttons*/
#answer-container{
    display: grid;
    gap: 10px;
    margin: 10px;
}
#option1{
    grid-column-start: 0;
}
#option2{
    grid-column-start: 2;
}
#option3{
    grid-column-end: 0;
}
#option4{
    grid-column-end: 0;
}

/*button styling*/
button{
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
    min-width: 100px;
}
button:hover{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}
#start{
    margin: 200px  0 0 0;
    height: 100px;
    width: 300px;
}

/*used for hiding containers*/
.hidden{
    display: none;
}

/*game title styling*/
h1{
    color: rgba(245, 245, 245, 0.685);
    font-size: 500%;
    margin: 0 0 0 20px;
    /* background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent; */
}

/*end container styling*/
.end-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px;
    min-height: 300px;
    min-width: 300px;
}