*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

/*to center the game*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
    width: 100vh;
    background-color: rgba(78, 10, 141, 0.507);
}

.game-container{
    width: 800px;
    max-width: 80%;
    background-color: orange;
    border-radius: 5px;
}


